{
  "env": {
    "development": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "ie 11"]
          }
        }],
        "babel-preset-react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "ie 11"]
          }
        }],
        "babel-preset-react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions", "ie 11"]
          }
        }],
        "babel-preset-react"
      ],
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
      ]
    }
  }
}
