{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie 11"]
      }
    }],
    "babel-preset-react"
  ],
  "plugins": [
    "rewire",
    "transform-object-rest-spread"
  ]
}
