{
  "branches": [
    "master",
    {name: "alpha", prerelease: true}
  ],
  "tagFormat": "v${version}",
  "verifyConditions": [
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "dist"
    },
    {
      "path": "@semantic-release/github"
    }
  ],
  "analyzeCommits": "@semantic-release/commit-analyzer",
  "generateNotes": "@semantic-release/release-notes-generator",
  "prepare": [
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "dist"
    }
  ],
  "publish": [
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "dist"
    },
    {
      "path": "@semantic-release/github"
    }
  ],
  "success": [],
  "fail": []
}
