{
  "branch": "djoy/dist_magic",
  "tagFormat": "v${version}",
  "verifyConditions": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "*"
      }
    }
  ],
  "analyzeCommits": "@semantic-release/commit-analyzer",
  "generateNotes": "@semantic-release/release-notes-generator",
  "prepare": "@semantic-release/npm",
  "publish": [
    "@semantic-release/npm",
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "*"
      }
    }
  ],
  "success": [],
  "fail": [],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/npm", {
      "pkgRoot": "dist",
    }],
    "@semantic-release/git"
  ]
}
