{
  "branch": "master",
  "tagFormat": "v${version}",
  "verifyConditions": [
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "dist"
    },
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "dist"
      }
    }
  ],
  "analyzeCommits": "@semantic-release/commit-analyzer",
  "generateNotes": "@semantic-release/release-notes-generator",
  "prepare": [
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "dist"
    }
  ],
  "publish": [
    {
      "path": "@semantic-release/npm",
      "pkgRoot": "dist"
    },
    {
      "path": "@semantic-release/github",
      "assets": {
        "path": "dist"
      }
    }
  ],
  "success": [],
  "fail": []
}
