language: node_js
node_js: 12
script:
- npm run lint
- npm run test
- npm run build
- npm run docs
after_success:
- npx semantic-release
- codecov
deploy:
  provider: pages
  skip_cleanup: true
  github_token: "$GH_TOKEN"
  keep_history: true
  local_dir: "./docs/api/@edx/frontend-platform/1.0.0-semantically-released"
  on:
    branch: master
env:
  global:
  # NPM_TOKEN
  - secure: Z0VVZuDLKW16grNu5EPWCAYOdeZfjVdybyEIcpySXFml1LcroXzazEy9ZuZ6adbjDDXkXHKoZmikgiy42nFwcnsWlHqUJ/Y6xhhbBuIDWY3ixz8MxDwyX5f6EMMr4IrNEYQPxEjNsZ1za/DDgTR/Y5C95T3dY0smZ1snySrNuUs01b60cIO++i+PuZuJ7XH4df5bKeMSDG98N04F7xJCqAIyovB3RxumJ0aY6jdnSOLORaMOaidRbzD6XVS1/ZbaaqAq+/kgcJSARuEbXS9E1hYwFbCVzn2jBrFXb9nRUbsH2VDGuBsaEatqK/bcgOzVEMG8lWhgCwDxkuJXeHRvrVLuQ1q51sopVltYW9n4hXCzmeH5u6ro3EUXQF8diz5At4XrDfOloNSOMeqEY7+oyJlRUljnL3dPT/xLL0AmKlFY9CRSQslqu7o1/cXGTNl2pEytarPjxHwMS8wEpiLo8IIOB1mk7JR6UVQlZuewZTGCQ6UHIqIYfC2cuiBiXThgrNzvCYkJNmLm6JGUOcrfTspOUH4mQguRYex/ZV13GuPQJg2MYRLevxsnvA13t6O7AKpot5Z0C+4xDRY31eV+IuH53SaYoTtFwkcQ5q3aQ/BQSX7CmVacgSZO45+XKQ2GtTujYlrnEgWu7418y54Q3xpSyTCWxqujfZXXUC8BZ84=
  # GH_TOKEN
  - secure: rtvKN/svWG+IKNGPAw5cdHflTwBXL6E+HFQGOrAIqkA4c6H3a/Fwh8PUW+cRaZ+O0EPuXMlZkLwEIqU9J6cZvkvCU+u0e8r9Q+S9tpKMQgjWuay17iUryBP/8IPYWv9F6lU4jWn2SBYaqV5jvktwnqAyJVHw2hfY0R8GzJSR9aoIpmHSByqA08N+8AjO89vBfAVShsXAGHYIAVdoddgum07ITCB5W+0kdik1RWFPtPn2O/rnvXWWPqFWtYGa+b3oOkM7tkUYPEwyflE1oG7tF29NFbLchGdJaKQr4EQJB7gmqclicBJKH4xXiB59sTTqWVDVaW42g9UNXJi9gcme97YDoBBKdYR5Gi37bmUdp+sVWx9ljjYQ8Q15AkKg2RB3vbhX4n3gDX0X9M5BgpKITkP8TkcTVh8ikmvmG1y5aKDtLtayXlWWW7JGijovO52aA4Z8owsfz6lJL6eCH+wPa82gRJtfAiswomG1n/ANAAlcexwJxMa0w5/PdSaKwG2i+q8+J4DFrrnygY8R/4izOoKzYSCcrddl9tSQnMu9JmEPYOlzDKjtJ6guxdpDZHW/o8d+hFWty7ST1F8IwLQ1sa0tQwyA3PsdMbPKskrKgZDexZLhKMVTfCw8npxuPAVrPQBu5MtrXneN+0gYhG8yMd5qIZxXFoICN/4KfYVZ2lk=
