name: node_js CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node: [16]
        npm: [8.5.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Nodejs
        uses: actions/setup-node@v2
        with:
          node-version: "${{ matrix.node }}"

      # This is a temporary "hack" to unblock CI/releases, as ideally we should avoid needing to pin NPM to a specific minor version. By doing
      # so, we are basically deferring clean up of peer dependencies to a later time. See https://github.com/npm/cli/issues/4664 for more details.
      - name: Pin NPM version
        run: npm install -g npm@${{ matrix.npm }}

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

      - name: Docs
        run: npm run docs

      - name: Run Coverage
        uses: codecov/codecov-action@v3
