name: NPM Unpublish
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to unpublish'
        required: true

jobs:
  unpublish:
    name: Unpublish
    runs-on: ubuntu-latest
    steps:
      - name: Check NPM authentication
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.SEMANTIC_RELEASE_NPM_TOKEN }}" >> .npmrc
          npm whoami
      - name: NPM unpublish
        run: npm unpublish @edx/frontend-platform@${{ github.event.inputs.version }}
